<%- include("../partials/header", { title }) %>
<%- include("../partials/navigation", { nav }) %>
<link rel="stylesheet" href="/css/styles.css">
<main>
  <h1>Error</h1>
  <p><%= message %></p>
</main>
<%- include("../partials/footer") %>